<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navfooter.css">

        <link rel="stylesheet" href="/css/formulario.css">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Pintur - Nuevo producto</title>
    </head>
<body>

    <header>
        <%- include('header') %>

    </header>    

    <h1>Añadir producto</h1>


    <article>
    
    <form action="/products" method="post" enctype="multipart/form-data">
        <label for="name">Nombre del producto:</label>
        <input type="text" id="name" name="name">
        <% if (locals.errors && locals.errors.name) { %>
          <p class="error"><%= locals.errors.name.msg %></p>
        <% } %>
        <br>
    
        <label for="description" class="descripcionProducto">Descripción:</label>
        <textarea id="description" name="description"></textarea>

        <% if (locals.errors && locals.errors.description) { %>
          <p class="error"><%= locals.errors.description.msg %></p>
        <% } %>
        <br>
  
      <label for="img" class="input-file">Selecionar imagen del producto:</label>
      <input type="file" id="img" name="img" multiple>
      <% if (locals.errors && locals.errors.img) { %>
        <p class="error"><%= locals.errors.img.msg %></p>
      <% } %>
      <br>

      <br>
  
      <label for="categoria">Categoría:</label>
      <select name="category">
        <option value=""> * Seleccionar</option>
        <option value="1">Interior</option>
        <option value="2">Exterior</option>
        <option value="3">Complementos</option>

      </select>
      
      <br>
      <label for="color">Color:</label>
      <select name="color">
        <option value=""> * Seleccionar</option>
        <option value="1">Blanco</option>
        <option value="2">Negro</option>
        <option value="3">Gris</option>
        <option value="4">Marrón</option>
        <option value="5">Rojo</option>
        <option value="6">Azul</option>
        <option value="7">Verde</option>
    </select>






      <br>
  
      <label for="options">Opciones - Litros/Tamaño/Etc</label>
      <select name="options">
        <option value=""> * Seleccionar</option>
        <option value="1">1 Litro</option>
        <option value="2">2 Litros</option>
        <option value="3">5 Litros</option>
        <option value="4">10 Litros</option>
        <option value="5">20 Litros</option>
        <option value="6">25 Litros</option>
      </select>

      <br>

      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" step="0.01" >
      <br>
  
      <input class="enviar" type="submit" value="Guardar Producto" >
    </form>
  
   
    </article>
    
    <footer>
        <%- include('footer') %>
    </footer>

    
</body>
</html>