<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/navfooter.css">
  <link rel="stylesheet" href="/css/formulario.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Pintur - Ver usuario</title>
</head>

<body>

  <header>
    <%- include('header') %>


  </header>
  <article>
    <div class="usuarioDatos">
      <h1>Datos de usuario:
        <br>
        <img src="data:image/png;base64,<%= user.image.toString('base64') %>" width="100px">
      </h1>




      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" value="<%= user.first_name %>" disabled>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" value="<%= user.last_name %>" disabled>

        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" value="<%= user.email %>" disabled>


        <label for="correo">Categoría de usuario:</label>
        <input type="email" id="correo" value=
        "<% if (user.category_id === 1) { %>
          Administrador
        <% } else { %>
          Invitado
        <% } %>"
        disabled>

      </form>
    </div>

    <a class="editar" href="/users/<%=user.user_id%>/edit">Editar usuario</a>

  </article>


  <footer>
    <%- include('footer') %>
  </footer>


</body>

</html>