<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintur - Detalle de producto</title>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="/css/navfooter.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
</head>

<body>
        <%- include('header') %>

            <div class="bienvenido">
                <h2 class="texto-ovalo">      
                    
                    <% if (selectedProduct.category_id === 1) { %>
                        <h2 class="texto-ovalo">Interior</h2>
                         <% } else if (selectedProduct.category_id === 2) { %>
                            <h2 class="texto-ovalo">Exterior</h2>

                      <% } else if (selectedProduct.category_id === 3) { %>
                        <h2 class="texto-ovalo">Complementos</h2>

                      <% } %>
            
            </h2>
            </div>
            <div class="botones-ovalo">
                <div class="absolute-boton">
                    <a href="/products">
                        <button class="seguir-comprando" style="color: black; text-align: center; font-size: 15px ;width: 100px" type="button">Volver</button>
                      </a>
                </div>               
            </div>

            <main>
                <div class="product-container">
                    <!-- Foto del producto -->
                    <img src="data:image/png;base64,<%= selectedProduct.img.toString('base64') %>">

                    <div class="space"></div>

        
                    <!-- Detalles del producto -->
                    <div class="opciones-compra">

                        <h1><%=selectedProduct.name %></h1>
                        <h1> $ <%=selectedProduct.price %></h1>
                        <br>
                        <div class="opciones-compra-items">
                            <input type="text"  name="color" id="color" value="<%=selectedProduct.colors.color%>"readonly>
                            <input type="text" name="litros" id="litros" value="<%= selectedProduct.options.liters %> litros" readonly>
                            <div class="cantidad">
                                <div>
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" id="cantidad" name="cantidad" min="1" max="10"
                                        placeholder="- 1 +" value="1">
                                </div>
                            </div>
                            <button class="button-carrito">Agregar al carrito</button>
                            <div class="fav-sucursal">
                                <i class="fa-regular fa-heart"></i>
                                <p>Favoritos</p>
                                <i class="fa-solid fa-location-dot"> </i>
                                <p>Encontrar una sucursal</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="product-details">
                <h2 style="font-size: 20px;">Descripción del producto</h2>
                <p ><%=selectedProduct.description %></p>
                </div>
            </main>


                <footer>
                    <%- include('footer') %>
                </footer>

</body>

</html>